.container {
  margin-left: $Mleft;
  height: $max_height;
  background-color: $back_color;
  $header-height: 100px;
  $content-height: 88vh;
  $table-width: 70vw;
  width: 85vw;
  overflow: hidden;
  .header {
    line-height: $header-height;
    height: $header-height;
    background-color: white;
    // border-bottom: 1px solid rgb(220, 223, 230);
    overflow: hidden;
    .upload {
      width: 10vw;
      height: auto;
      margin-left: 1100px;
      .upload-btn {
        // margin-left: 1000px;
        width: 10vw;
        position: relative;
        overflow: hidden;
        height: 3rem;
        padding: 0 2rem;
        border-radius: 1.5rem;
        background: #3d3a4e;
        background-size: 400%;
        color: #fff;
        border: none;
        cursor: pointer;
        .upload-content {
          position: relative;
          z-index: 1;
          font-size: larger;
        }
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          transform: scaleX(0);
          transform-origin: 0 50%;
          width: 100%;
          height: inherit;
          border-radius: inherit;
          background: linear-gradient(
            82.3deg,
            rgba(150, 93, 233, 1) 10.8%,
            rgba(99, 88, 238, 1) 94.3%
          );
          transition: all 0.475s;
        }
        &:hover {
          &:before {
            transform: scaleX(1);
          }
        }
      }
    }
  }
  .content {
    height: $content-height;
    overflow: hidden;
    .table-name {
      margin-left: 5vw;
      margin-top: 3vh;
      font: {
        family: coca_cola;
        color: black;
        size: 30px;
      }
    }
    .table {
      margin-top: 1vh;
      width: $table-width;
      margin-left: 50%;
      translate: -35vw;
      height: 60vh;
    }
    .calculator {
      margin-top: 1vh;
      margin-left: 10vw;
      font: {
        family: coca_cola;
        color: black;
        size: 25px;
      }
    }
    .result {
      margin-left: 2vw;
      margin-top: 3vh;
      font: {
        family: coca_cola;
        color: black;
        size: 30px;
      }
    }
  }
}
